[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SecretsProvider"]
	path = SecretsProvider
	url = https://github.com/naavre/secretsproviderr
